html, body {
  margin: 0;
}
body {
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  color: black;
}

table {
  border: 1px solid black;
  color: blue;
  width: 1020;

}


td, tr {
  width: 125px;
  height: 25px;
  padding-left: 10px;
  border: 1px solid black;
}

.titulo {
  color: black;
}

.primeira-linha {
  background-color: black;
  color: aliceblue;
}


.wrapper {
  width: 1200px;
  display: flex;
  margin: 0 auto;
  background-color: aquamarine;
}
.main {
  display: flex;
  flex-flow: column;
  width: 85%;
}
.menu {
  width: 15%;
  background-color:rgb(114, 114, 114);
  padding: 10px 20px 0px;
  
}
.header {
  background-color: rgb(32, 31, 31);
  min-height: 150px;
}
.content {
  background-color: white;
  min-height: 300px;
  padding: 20px;
}
.footer {
  background-color: rgb(20, 20, 22);
  color:azure;
  min-height: 150px;
  text-align: center;
  padding-top: 40px;
}